# Puerto donde corre el backend
PORT=5000

# Configuración de la base de datos
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=123456789
DB_NAME=KardexManagement

# Clave privada para despliegue o interacción (no compartir la real)
PRIVATE_KEY=

# Dirección del contrato proxy de credenciales
CONTRACT_ADDRESS_PROXY_MANAGEMENT_CREDENTIAL=0xYourProxyManagementCredentialAddress

# Dirección del contrato NFT
CONTRACT_ADDRESS_NFT=0xYourNFTContractAddress

# Configuración de correo electrónico
EMAIL_USER=your-email@example.com
EMAIL_PASS=your-email-password

# Configuración de IPFS
IPFS_API=http://127.0.0.1:5001
IPFS_GATEWAY=http://localhost:8080/ipfs/
IPFS_DEFAULT_KARDEX_IMAGE=QmYourDefaultKardexImageHash

# API Key de BscScan
BSCSCAN_API_KEY=your-bscscan-api-key

